.form {
  display: grid;
  font-size: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 1fr 1fr;
  grid-gap: 20px;
  position: relative;
  top: 16%;
  left: 5%;
  height: 35vw;
  color: #000;
  width: 94vw;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;

  .item1 {
    position: relative;
    top: 30%;
    left: 10%;
    grid-column: 1;
    grid-row: 1;
  }

  .item1S {
    position: relative;
    top: 50%;
    left: 10%;
    grid-column: 1;
    grid-row: 1;

    input {
      width: 210px;
      height: 32px;
      font-size: 1em;
      padding: 10px;
      border: 3px solid #000;
      border-radius: 10px;
      outline: none;

      &:valid {
        border: 3px solid #14b16d;
      }
    }
  }

  .item2 {
    position: relative;
    top: 30%;
    grid-column: 2;
    grid-row: 1;
  }

  .item2S {
    position: relative;
    top: 55%;
    grid-column: 2;
    grid-row: 1;

    input {
      width: 210px;
      height: 32px;
      font-size: 1em;
      padding: 10px;
      border: 3px solid #000;
      border-radius: 10px;
      outline: none;

      &:valid {
        border: 3px solid #14b16d;
      }
    }
  }

  .item3 {
    position: relative;
    top: 30%;
    grid-column: 3;
    grid-row: 1;
  }

  .itme3S {
    position: relative;
    top: 55%;
    grid-column: 3;
    grid-row: 1;

    input {
      width: 210px;
      height: 32px;
      font-size: 1em;
      padding: 10px;
      border: 3px solid #000;
      border-radius: 10px;
      outline: none;

      &:valid {
        border: 3px solid #14b16d;
      }
    }
  }

  .item4 {
    position: relative;
    left: 50%;
    grid-column: 1;
    grid-row: 2;
  }

  .item4S {
    position: relative;
    top: 35%;
    left: 50%;
    grid-column: 1;
    grid-row: 2;

    input {
      width: 270px;
      height: 32px;
      font-size: 1em;
      padding: 10px;
      border: 3px solid #000;
      border-radius: 10px;
      outline: none;

      &::-webkit-calendar {
        color: rgb(195, 0, 255);
      }

      &:valid {
        border: 3px solid #14b16d;
      }
    }
  }

  .item5 {
    position: relative;
    left: 60%;
    grid-column: 2;
    grid-row: 2;
  }

  .item5S {
    position: relative;
    top: 35%;
    left: 60%;
    grid-column: 2;
    grid-row: 2;

    input {
      width: 550px;
      height: 32px;
      font-size: 1em;
      padding: 10px;
      border: 3px solid #000;
      border-radius: 10px;
      outline: none;
      transition: 500ms ease-in-out;

      &:valid {
        border: 3px solid #14b16d;
      }
    }
  }

  .item6 {
    position: relative;
    left: 10%;
    grid-column: 1;
    grid-row: 3;
  }

  .item6S {
    position: relative;
    top: 40%;
    left: 10%;
    grid-column: 1;
    grid-row: 3;

    input {
      width: 270px;
      height: 32px;
      font-size: 1em;
      padding: 10px;
      border: 3px solid #000;
      border-radius: 10px;
      outline: none;
      transition: 500ms ease-in-out;

      &:valid {
        border: 3px solid #14b16d;
      }
    }
  }

  .item7 {
    position: relative;
    top: -5%;
    grid-column: 3;
    grid-row: 3;
  }

  .item7S {
    position: relative;
    top: 30%;
    grid-column: 3;
    grid-row: 3;

    input {
      width: 210px;
      height: 32px;
      font-size: 1em;
      padding: 10px;
      border: 3px solid #000;
      border-radius: 10px;
      outline: none;

      &:valid {
        border: 3px solid #14b16d;
      }
    }
  }

  .item9 {
    position: relative;
    top: -5%;
    grid-column: 2;
    grid-row: 2;
  }

  .item9S {
    position: relative;
    top: 35%;
    grid-column: 2;
    grid-row: 2;

    input {
      width: 240px;
      height: 32px;
      font-size: 1em;
      padding: 10px;
      border: 3px solid #000;
      border-radius: 10px;
      outline: none;

      &:valid {
        border: 3px solid #14b16d;
      }
    }
  }

  .item2S1 {
    position: relative;
    top: 55%;
    grid-column: 2;
    grid-row: 1;

    input {
      width: 250px;
      height: 32px;
      font-size: 1em;
      padding: 10px;
      border: 3px solid #000;
      border-radius: 10px;
      outline: none;

      &:valid {
        border: 3px solid #14b16d;
      }
    }
  }

  .item8 {
    position: relative;
    left: 10%;
    top: -3%;
    grid-column: 2;
    grid-row: 3;
  }

  .item8S {
    position: relative;
    left: 10%;
    top: 40%;
    grid-column: 2;
    grid-row: 3;

    input {
      width: 210px;
      height: 32px;
      font-size: 1em;
      padding: 10px;
      border: 3px solid #000;
      border-radius: 10px;
      outline: none;

      &:valid {
        border: 3px solid #14b16d;
      }
    }
  }

  .lien-Modifier {
    position: relative;
    top: 30%;
    left: 20%;
    grid-column: 1;
    grid-row: 4;

    input {
      font-family: 'kanit';
      font-size: 1em;
      text-decoration: none;
      width: 160px;
      padding: 9px;
      color: rgb(15, 15, 15);
      background-color: transparent;
      border: 5px solid #14b16d;
      letter-spacing: 0.01em;
      border-radius: 10px;
      transition: 500ms;

      &:hover {
        width: 200px;
        text-decoration: underline;
        background-color: #14b16d;
        letter-spacing: 0.1em;
      }
    }
  }

  .lien-conn {
    position: relative;
    top: 30%;
    left: 10%;
    grid-column: 3;
    grid-row: 4;

    a {
      display: block;
      text-decoration: none;
      width: 240px;
      padding: 10px;
      color: rgb(15, 15, 15);
      border: 5px solid #14b16d;
      letter-spacing: 0.01em;
      border-radius: 10px;
      transition: 500ms;

      &:hover {
        text-decoration: underline;
        width: 280px;
        background-color: #14b16d;
        letter-spacing: 0.1em;
      }
    }
  }

  .lien-conn2 {
    position: relative;
    top: 30%;
    left: 10%;
    grid-column: 2;
    grid-row: 3;

    input {
      font-family: 'kanit';
      font-size: 1em;
      text-decoration: none;
      width: 160px;
      padding: 9px;
      color: rgb(15, 15, 15);
      background-color: transparent;
      border: 5px solid #14b16d;
      letter-spacing: 0.01em;
      border-radius: 10px;
      transition: 500ms;

      &:hover {
        width: 200px;
        text-decoration: underline;
        background-color: #14b16d;
        letter-spacing: 0.1em;
      }
    }
  }
}

.retourne {
  display: block;
  position: relative;
  width: 150px;
  height: 40px;
  left: 1em;
  top: 40px;
  font-size: 17px;
  text-decoration: none;
  border: #8f1f13 solid 3px;
  border-radius: 10px;
  transition: 1.5s all;

  b {
    position: relative;
    color: #080808;
    font-size: 1.5em;
    letter-spacing: 1px;
    padding: 10px;
    left: 45px;
    top: 5px;
    transition: .3s
  }

  &:before {
    content: "";
    position: absolute;
    background-color: #0d0d0d;
    width: .2em;
    height: 25px;
    top: 4px;
    left: 12px;
    border-radius: 10px;
    transform: rotate(60deg);
    transition: .1s all
  }

  &::after {
    content: "";
    position: absolute;
    background-color: #0e0d0d;
    width: .2em;
    height: 25px;
    top: 4px;
    left: 31.7px;
    border-radius: 10px;
    transform: rotate(-60deg);
    transition: .1s all
  }

  i {
    position: absolute;
    opacity: 0;
    top: 3px;
    left: 30px;
    width: .2em;
    height: 30px;
    background-color: #8f1f13;
    border-radius: 10px;
    transform: rotate(90deg);
    transition: 0.5s ease-in-out
  }

  &:hover {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    border: #0d0d0d solid 3px;

    b {
      left: 55px;
      letter-spacing: 2px;
      color: #8f1f13;
    }

    i {
      opacity: 1;
    }

    &:before {
      top: 15px;
      left: 10px;
      transform: rotate(140deg);
      height: 20px;
      border-radius: 10px;
      transition: 1s;
      animation: ani 1.2s ease-in-out infinite;
    }

    &:after {
      top: 1px;
      left: 12px;
      transform: rotate(45.2deg);
      height: 20px;
      border-radius: 10px;
      transition: 1s;
      animation: ani 1.2s ease-in-out infinite;
    }
  }
}

@keyframes ani {
  0% {
    background-color: #8f1f13;
    left: 15px
  }

  100% {
    background-color: #080707;
    left: 10px
  }
}