.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    top: 15%;
    left: 05%;
    height: 360px;
    width: 1330px;
    border: #9e7aa2 solid 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    
    .nom{
        position: relative;
        top: 20%;
        left: 10%;
        grid-column: 1;
        grid-row: 1;
      }
      .nom1{
        position: relative;
        top: 40%;
        left: 10%;
        grid-column: 1;
        grid-row: 1;
        input{
          width: 200px;
          height: 32px;
          font-size: 1em;
          padding: 10px;
          border: 3px solid #a114b1;
          border-radius: 10px;
          outline: none;
          &:valid{
            border: 3px solid #a114b1;
          }
        }
      }
      .prenom{
        position: relative;
        top: 20%;
        left: 30%;
        grid-column: 2;
        grid-row: 1;
      }
      .prenom1{
        position: relative;
        top: 45%;
        left: 30%;
        grid-column: 2;
        grid-row: 1;
        input{
          width: 210px;
          height: 32px;
          font-size: 1em;
          padding: 10px;
          border: 3px solid #a114b1;
          border-radius: 10px;
          outline: none;
          &:valid{
            border: 3px solid #a114b1;
          }
        }
      }
      .date{
        position: relative;
        top: 5%;
        left: 70%;
        grid-column: 1;
        grid-row: 2;
      }
      .date1{
        position: relative;
        top: 30%;
        left: 70%;
        grid-column: 1;
        grid-row: 2;
        input{
          width: 210px;
          height: 32px;
          font-size: 1.2em;
          padding: 10px;
          border: 3px solid #a114b1;
          border-radius: 10px;
          outline: none;
          &:valid{
            border: 3px solid #a114b1;
          }
        }
      }
      .tel{
        position: relative;
        top: 5%;
        left: 90%;
        grid-column: 2;
        grid-row: 2;
      }
      .tel1{
        position: relative;
        top: 30%;
        left: 90%;
        grid-column: 2;
        grid-row: 2;
        input{
          width: 210px;
          height: 32px;
          font-size: 1em;
          padding: 10px;
          border: 3px solid #a114b1;
          border-radius: 10px;
          outline: none;
          &:valid{
            border: 3px solid #a114b1;
          }
        }
      }
      .add{
        position: relative;
        top: 0%;
        left: 10%;
        grid-column: 1;
        grid-row: 3;
      }
      .add1{
        position: relative;
        top: 25%;
        left: 10%;
        grid-column: 1;
        grid-row: 3;
        input{
          width: 210px;
          height: 32px;
          font-size: 1em;
          padding: 10px;
          border: 3px solid #a114b1;
          border-radius: 10px;
          outline: none;
          &:valid{
            border: 3px solid #a114b1;
          }
        }
      }
      .email{
        position: relative;
        top: 0%;
        left: 30%;
        grid-column: 2;
        grid-row: 3;
      }
      .email1{
        position: relative;
        top: 25%;
        left: 30%;
        grid-column: 2;
        grid-row: 3;
        input{
          width: 300px;
          height: 32px;
          font-size: 1em;
          padding: 10px;
          border: 3px solid #a114b1;
          border-radius: 10px;
          outline: none;
          &:valid{
            border: 3px solid #a114b1;
          }
        }
      }
}
.desdosiier {
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr;
    position: absolute;
    top: 70%;
    left: 5%;
    border: #9e7aa2 solid 5px;
    color: #fff;
    height: 1430px;
    width: 1330px;
    .a{
      position: absolute;
      top: 2%;
      left: 50%;
      height: 30px;
      width: 120px;
      padding: 0;
      display:inline-block;
      color:#2f1834;
      text-decoration:none;
      border-radius:5px;
      border:solid 1px #9e7aa2;
      background:#9e7aa2;
      text-align:center;
      font-size: 1.4em;
      font-weight: 600;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      transition: all 0.1s;
      -webkit-box-shadow: 0px 6px 0px #a114b1;
      -moz-box-shadow: 0px 6px 0px #a114b1;
      box-shadow: 0px 6px 0px #a114b1;
      &:active{
        -webkit-box-shadow: 0px 2px 0px #a114b1;
        -moz-box-shadow: 0px 2px 0px #a114b1;
        box-shadow: 0px 2px 0px #a114b1;
      }
    }
    .Avantage {
        position: absolute;
        font-size: 2em;
        font-family: Courgette ;
        top: 2%;
        left: 2%;
        text-align: center;
        padding: 3px;
        border-radius: 7px;
        height: 40px;
        width: 500px;
        border: #919191 solid 2px;
    }

    .sanction {
        position: absolute;
        font-size: 2em;
        font-family: Courgette ;
        top: 33%;
        left: 2%;
        text-align: center;
        padding: 3px;
        border-radius: 7px;
        height: 40px;
        width: 500px;
        border: #919191 solid 2px;
    }

    .demande {
        position: absolute;
        font-family: Courgette ;
        font-size: 2em;
        top: 64%;
        left: 2%;
        text-align: center;
        padding: 3px;
        border-radius: 7px;
        height: 40px;
        width: 500px;
        border: #919191 solid 2px;
    }
    .lien {
      a {
        display: block;
        height: 30px;
        width: 200px;
        padding: 10px;
        background-color: #000;
        border-radius: 10px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
  
        B {
          position: relative;
          left: 70px;
          font-size: 1.5em;
        }
  
        &::before {
          content: "";
          position: absolute;
          border-radius: 10px;
          transition: 0.5s;
        }
  
        &::after {
          content: "";
          position: absolute;
          border-radius: 10px;
          transition: 0.5s;
        }
  
        &:hover {
          &::before {
            transform: scale(-1) rotate(40deg);
          }
  
          &::after {
            transform: scale(-1) rotate(-40deg);
          }
        }
      }
    }
  
    .valider {
      margin: 10px;
      position: absolute;
      top: 94.3%;
      left: 10%;
  
      a {
        color: #049b2f;
        border: #f1f0ec solid 5px;
  
        &::before {
          width: 30px;
          height: 5px;
          top: 32px;
          left: 12px;
          transform: rotate(40deg);
          background-color: #f1f0ec;
        }
  
        &::after {
          width: 50px;
          height: 5px;
          top: 26px;
          left: 30px;
          z-index: 2;
          transform: rotate(-40deg);
          background-color: #f1f0ec;
        }
  
        &:hover {
          color: #f1f0ec;
          letter-spacing: 0.01em;
          border: #049b2f solid 5px;
  
          &::before {
            background-color: #049b2f;
          }
  
          &::after {
            background-color: #049b2f;
          }
        }
      }
    }
  
    .refuser {
      margin: 10px;
      position: absolute;
      top: 94.3%;
      left: 75%;
  
      a {
        color: #f1f0ec;
        border: #d8090d solid 5px;
  
        &::before {
          width: 50px;
          height: 5px;
          top: 26px;
          left: 20px;
          z-index: 2;
          transform: rotate(40deg);
          background-color: #d8090d;
        }
  
        &::after {
          width: 50px;
          height: 5px;
          top: 26px;
          left: 20px;
          z-index: 2;
          transform: rotate(-40deg);
          background-color: #d8090d;
        }
  
        &:hover {
          color: #d8090d;
          letter-spacing: 0.01em;
          border: #f1f0f3 solid 5px;
  
          &::before {
            background-color: #f1f0ec;
          }
  
          &::after {
            background-color: #f1f0ec;
          }
        }
      }
    } 
}

.grid1 {
    position: relative;
    top: 80px;
    left: 0%;
}



.grid2 {
    position: relative;
    top: 520px;
    right: 60px;
}

.grid3 {
    position: relative;
    top: 970px;
    right: 370px;
}

.grid {
    position: relative;
    top: 200px;
    right: 20px;
}

.item {
    position: absolute;
    width: 1300px;
    height: 100px;
    line-height: auto;
    margin: 10px;
    border: 3px solid #878787;
    border-radius: 10px;
    z-index: 1;
    transition: all .3s ease-out
}

.item.muuri-item-hidden {
    z-index: 0
}

.item.muuri-item-releasing {
    z-index: 2
}

.item.muuri-item-dragging {
    z-index: 3
}

.item1 {
    position: absolute;
    width: 1300px;
    height: 100px;
    line-height: auto;
    margin: 10px;
    border: 3px solid #878787;
    border-radius: 10px;
    z-index: 1;
    transition: all .3s ease-out
}

.item1.muuri-item-hidden {
    z-index: 0
}

.item1.muuri-item-releasing {
    z-index: 2
}

.item1.muuri-item-dragging {
    z-index: 3
}

.item1-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    width: 1300px;
    height: 100px;
    font-size: 30px;
    color: #aeacac;
    overflow: hidden;
    border-radius: 10px;
    transition: color .3s ease-in-out;
    cursor: pointer;

    .no {
        position: relative;
        top: 15%;
        left: 1%;
        height: 20px;
        grid-column: 1;
        grid-row: 1;
    }

    .no1 {
        position: relative;
        top: 10%;
        left: 13.5%;
        grid-column: 1;
        grid-row: 1;
        height: 30px;
        width: 200px;
        padding: 3px;
        border-radius: 10px;
        position: relative;
        font-size: 30px;
        border: 3px solid #878787;
    }

    .depA {
        position: relative;
        top: 15%;
        right: 37%;
        height: 20px;
        grid-column: 2;
        grid-row: 1;
    }

    .depA1 {
        position: relative;
        top: 10%;
        left: 32%;
        grid-column: 2;
        grid-row: 1;
        height: 30px;
        width: 200px;
        padding: 3px;
        border-radius: 10px;
        position: relative;
        font-size: 30px;
        border: 3px solid #878787;
    }

    .depS {
        position: relative;
        top: 15%;
        right: 18%;
        height: 20px;
        grid-column: 3;
        grid-row: 1;
    }

    .depS1 {
        position: relative;
        top: 10%;
        left: 53%;
        grid-column: 3;
        grid-row: 1;
        height: 30px;
        width: 200px;
        padding: 3px;
        border-radius: 10px;
        position: relative;
        font-size: 30px;
        border: 3px solid #878787;
    }

    .dateD {
        position: relative;
        top: 15%;
        right: 37%;
        height: 20px;
        grid-column: 2;
        grid-row: 1;
    }

    .dateD1 {
        position: relative;
        top: 10%;
        left: 08%;
        grid-column: 2;
        grid-row: 1;
        height: 30px;
        width: 200px;
        padding: 3px;
        border-radius: 10px;
        position: relative;
        font-size: 30px;
        border: 3px solid #878787;
    }

    .datef {
        position: relative;
        top: 15%;
        right: 40%;
        height: 20px;
        grid-column: 3;
        grid-row: 1;
    }

    .datef1 {
        position: relative;
        top: 10%;
        left: 0%;
        grid-column: 3;
        grid-row: 1;
        height: 30px;
        width: 200px;
        padding: 3px;
        border-radius: 10px;
        position: relative;
        font-size: 30px;
        border: 3px solid #878787;
    }
}

.item-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    width: 1300px;
    height: 100px;
    font-size: 30px;
    color: #aeacac;
    overflow: hidden;
    border-radius: 10px;
    transition: color .3s ease-in-out;
    cursor: pointer;

    .num {
        position: relative;
        top: 500%;
    }

    .no {
        position: relative;
        top: 15%;
        left: 5%;
        height: 20px;
        grid-column: 1;
        grid-row: 1;
    }

    .no1 {
        position: relative;
        top: 10%;
        left: 25%;
        grid-column: 1;
        grid-row: 1;
        height: 30px;
        width: 200px;
        padding: 3px;
        border-radius: 10px;
        position: relative;
        font-size: 30px;
        border: 3px solid #878787;
    }

    .date {
        position: relative;
        top: 15%;
        right: 20%;
        height: 20px;
        grid-column: 2;
        grid-row: 1;
    }

    .date1 {
        position: relative;
        top: 10%;
        left: 30%;
        grid-column: 2;
        grid-row: 1;
        height: 30px;
        width: 200px;
        padding: 3px;
        border-radius: 10px;
        position: relative;
        font-size: 30px;
        border: 3px solid #878787;
    }

    .datef {
        position: relative;
        top: 15%;
        right: 15%;
        height: 20px;
        grid-column: 3;
        grid-row: 1;
    }

    .datef1 {
        position: relative;
        top: 10%;
        left: 25%;
        grid-column: 3;
        grid-row: 1;
        height: 30px;
        width: 200px;
        padding: 3px;
        border-radius: 10px;
        position: relative;
        font-size: 30px;
        border: 3px solid #878787;
    }

}

.item1:hover {
    background: #919191;
}

.item1-content:hover {
    color: #000;

    .no1,
    .depA1,
    .depS1,
    .dateD1,
    .datef1 {
        border: 3px solid #000;
    }


}

.item1.muuri-item-dragging,
.item1.muuri-item-releasing {
    background: #919191;
    color: #000
}

.item:hover {
    background: #919191;
}

.item-content:hover {
    color: #000;

    .no1,
    .date1,
    .datef1 {
        border: 3px solid #000;
    }


}

.item.muuri-item-dragging,
.item.muuri-item-releasing {
    background: #919191;
    color: #000
}
.popup {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 63vh;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 17px;
  font-weight: 500;
  background-color: rgba($color: #050505, $alpha: 0.8);
  border: #a114b1 solid 5px;
  border-radius: 30px;
  z-index: 1;
  .f1{
    position: absolute;
    top: 1%;
    right: 10%;
    z-index: 10;
    svg{
      transform: none;
      transition: 1s;
      path{
        fill: #e22a0e;
      }
      &:hover{
        transform: rotate(90deg);
      }
    }
  }
  .gg{
    .lien {
      a {
        display: block;
        height: 30px;
        width: 200px;
        padding: 10px;
        background-color: #000;
        border-radius: 10px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
  
        B {
          position: relative;
          left: 30px;
          font-size: 1.5em;
        }
  
        &::before {
          content: "";
          position: absolute;
          border-radius: 10px;
          transition: 0.5s;
        }
  
        &::after {
          content: "";
          position: absolute;
          border-radius: 10px;
          transition: 0.5s;
        }
  
        &:hover {
          &::before {
            transform: scale(-1) rotate(40deg);
          }
  
          &::after {
            transform: scale(-1) rotate(-40deg);
          }
        }
      }
    }
  
    .valider {
      margin: 10px;
      position: absolute;
      top: 80.3%;
      left: 01%;
  
      a {
        color: #049b2f;
        border: #f1f0ec solid 5px;
  
        &::before {
          width: 30px;
          height: 5px;
          top: 32px;
          left: 12px;
          transform: rotate(40deg);
          background-color: #f1f0ec;
        }
  
        &::after {
          width: 50px;
          height: 5px;
          top: 26px;
          left: 30px;
          z-index: 2;
          transform: rotate(-40deg);
          background-color: #f1f0ec;
        }
  
        &:hover {
          color: #f1f0ec;
          letter-spacing: 0.01em;
          border: #049b2f solid 5px;
  
          &::before {
            background-color: #049b2f;
          }
  
          &::after {
            background-color: #049b2f;
          }
        }
      }
    }
  
    .refuser {
      margin: 10px;
      position: absolute;
      top: 80.3%;
      left: 75%;
  
      a {
        color: #f1f0ec;
        border: #d8090d solid 5px;
  
        &::before {
          width: 50px;
          height: 5px;
          top: 26px;
          left: 20px;
          z-index: 2;
          transform: rotate(40deg);
          background-color: #d8090d;
        }
  
        &::after {
          width: 50px;
          height: 5px;
          top: 26px;
          left: 20px;
          z-index: 2;
          transform: rotate(-40deg);
          background-color: #d8090d;
        }
  
        &:hover {
          color: #d8090d;
          letter-spacing: 0.01em;
          border: #f1f0f3 solid 5px;
  
          &::before {
            background-color: #f1f0ec;
          }
  
          &::after {
            background-color: #f1f0ec;
          }
        }
      }
    } 
  }
  .a{
    position: absolute;
    top: 20%;
    display: block;
    height: 45px;
    width: 200px;
    padding: 10px;
    font-size: 1.2em;
    background-color: rgba($color: #2a2393, $alpha: 1);
    border-radius: 10px;
    text-decoration: none;
    font-family: Courgette;
    border: #f9f9f9 solid 3px;
    transition: 0.5s;
    color: rgba($color: rgb(228, 225, 18), $alpha: 1.0);
    opacity: 1;
    z-index: 1;
  }
  .b{
    position: absolute;
    top: 20%;
    left: 70%;
    display: block;
    height: 45px;
    width: 200px;
    padding: 10px;
    font-size: 1.2em;
    background-color: rgba($color: #2a2393, $alpha: 1);
    border-radius: 10px;
    text-decoration: none;
    font-family: Courgette;
    border: #f9f9f9 solid 3px;
    transition: 0.5s;
    color: rgba($color: rgb(228, 225, 18), $alpha: 1.0);
    opacity: 1;
    z-index: 1;
  }
  .c{
    position: absolute;
    top: 40%;
    left: 34%;
    display: block;
    height: 45px;
    width: 200px;
    padding: 10px;
    font-size: 1.2em;
    background-color: rgba($color: #2a2393, $alpha: 1);
    border-radius: 10px;
    text-decoration: none;
    font-family: Courgette;
    border: #f9f9f9 solid 3px;
    transition: 0.5s;
    color: rgba($color: rgb(228, 225, 18), $alpha: 1.0);
    opacity: 1;
    z-index: 1;
  }
}
.active{
  top: 55%;
  z-index: 20;
}
.desdosiier1 {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 15%;
  left: 5%;
  background-color: #000;
  color: #fff;
  height: 1000px;
  width: 1300px;

  .titre {
      position: absolute;
      top: 05%;
      left: 20%;
      font-size: 2.5em;
      text-align: center;
      padding: 5px;
      border-radius: 7px;
      height: 40px;
      width: 500px;
      border: #919191 solid 3px;
  }

  .titre1 {
      position: absolute;
      top: 05%;
      left: 10%;
      font-size: 2.5em;
      text-align: center;
      padding: 5px;
      border-radius: 7px;
      height: 40px;
      width: 700px;
      border: #919191 solid 3px;
  }

  .retourne {
      display: block;
      position: absolute;
      width: 150px;
      height: 40px;
      left: 70%;
      top: 5.4%;
      font-size: 17px;
      text-decoration: none;
      border: #8f1f13 solid 3px;
      border-radius: 10px;
      transition: 1.5s all;
      z-index: 20;

      b {
          position: relative;
          color: #fff;
          font-size: 1.5em;
          letter-spacing: 1px;
          padding: 10px;
          left: 45px;
          top: 5px;
          transition: .3s
      }

      &:before {
          content: "";
          position: absolute;
          background-color: #fff;
          width: .2em;
          height: 25px;
          top: 4px;
          left: 12px;
          border-radius: 10px;
          transform: rotate(60deg);
          transition: .1s all
      }

      &::after {
          content: "";
          position: absolute;
          background-color: #fff;
          width: .2em;
          height: 25px;
          top: 4px;
          left: 31.7px;
          border-radius: 10px;
          transform: rotate(-60deg);
          transition: .1s all
      }

      i {
          position: absolute;
          opacity: 0;
          top: 3px;
          left: 30px;
          width: .2em;
          height: 30px;
          background-color: #8f1f13;
          border-radius: 10px;
          transform: rotate(90deg);
          transition: 0.5s ease-in-out
      }

      &:hover {
          width: 160px;
          height: 40px;
          border-radius: 10px;
          border: #fff solid 3px;

          b {
              left: 55px;
              letter-spacing: 2px;
              color: #8f1f13;
          }

          i {
              opacity: 1;
          }

          &:before {
              top: 15px;
              left: 10px;
              transform: rotate(140deg);
              height: 20px;
              border-radius: 10px;
              transition: 1s;
              animation: ani 1.2s ease-in-out infinite;
          }

          &:after {
              top: 1px;
              left: 12px;
              transform: rotate(45.2deg);
              height: 20px;
              border-radius: 10px;
              transition: 1s;
              animation: ani 1.2s ease-in-out infinite;
          }
      }
  }

  
    

  .nb {
      position: absolute;
      font-size: 1.8em;
      top: 15%;
      text-align: center;
      padding: 3px;
      border-radius: 7px;
      height: 30px;
      width: 300px;
      border: #919191 solid 3px;
  }
}