.grid {
  position: relative;
  top: 100px;
  left: 4%;
}

.item {
  position: absolute;
  width: 1320px;
  height: 160px;
  line-height: auto;
  margin: 10px;
  border: 3px solid #878787;
  border-radius: 10px;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  width: 1320px;
  height: 250px;
  font-size: 30px;
  color: #aeacac;
  overflow: hidden;
  border-radius: 10px;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.item-content .num {
  position: relative;
  top: 500%;
}
.item-content .no {
  position: relative;
  top: 15%;
  left: 5%;
  height: 20px;
  grid-column: 1;
  grid-row: 1;
}
.item-content .no1 {
  position: relative;
  top: 10%;
  left: 25%;
  grid-column: 1;
  grid-row: 1;
  height: 30px;
  width: 200px;
  padding: 3px;
  border-radius: 10px;
  position: relative;
  font-size: 30px;
  border: 3px solid #878787;
}
.item-content .type {
  position: relative;
  height: 20px;
  top: 15%;
  right: 2%;
  grid-column: 2;
  grid-row: 1;
}
.item-content .type1 {
  display: block;
  height: 30px;
  width: 200px;
  padding: 3px;
  border-radius: 10px;
  position: relative;
  top: 10%;
  left: 25%;
  font-size: 30px;
  grid-column: 2;
  grid-row: 1;
  border: 3px solid #878787;
}
.item-content .statut {
  grid-column: 3;
  height: 20px;
  grid-row: 1;
  left: 2%;
  position: relative;
  top: 15%;
}
.item-content .statut1 {
  position: relative;
  top: 10%;
  left: 25%;
  grid-column: 3;
  grid-row: 1;
  display: block;
  height: 30px;
  width: 200px;
  padding: 3px;
  font-size: 30px;
  border-radius: 10px;
  border: 3px solid #878787;
}
.item-content .lien {
  position: absolute;
  top: -40%;
  border-radius: 50%;
}
.item-content .lien svg {
  width: 100px;
  height: 90px;
}
.item-content .lien svg path[d="M12.0001 2.84955C17.0538 2.84955 21.1506 6.94637 21.1506 12.0001C21.1506 17.0537 17.0538 21.1506 12.0001 21.1506C6.94643 21.1506 2.84961 17.0537 2.84961 12.0001C2.84961 6.94637 6.94643 2.84955 12.0001 2.84955Z"],
.item-content .lien svg path[d="M20.8506 12.0002V6.50992C20.8506 4.48846 19.2118 2.84973 17.1904 2.84973H6.5098C4.48833 2.84973 2.84961 4.48845 2.84961 6.50992V17.4905C2.84961 19.512 4.48833 21.1507 6.5098 21.1507H11.8501"],
.item-content .lien svg path[d="M12.0001 2.84955C17.0538 2.84955 21.1506 6.94636 21.1506 12C21.1506 17.0537 17.0538 21.1505 12.0001 21.1505C6.94642 21.1505 2.84961 17.0537 2.84961 12C2.84961 6.94636 6.94642 2.84955 12.0001 2.84955Z"],
.item-content .lien svg path[d="M13.2418 3.62262H12.0001H10.8557M18.4571 3.62262H18.8668V3.62262C20.131 3.62262 21.1557 4.6474 21.1557 5.91153V17.0382C21.1557 19.0608 19.5161 20.7004 17.4935 20.7004H6.50674C4.48413 20.7004 2.84448 19.0608 2.84448 17.0382V5.91153C2.84448 4.6474 3.86926 3.62262 5.13339 3.62262V3.62262H5.54312"],
.item-content .lien svg path[d="M7.00269 12H10.0018"],
.item-content .lien svg path[d="M9.01978 12.7782L9.76481 13.5233C10.1763 13.9348 10.8434 13.9348 11.2549 13.5233L14.9801 9.7981"],
.item-content .lien svg path[d="M7.00269 8.0022H12.9993"] {
  stroke: #919191;
}
.item-content .lien:hover svg path {
  fill: #fff;
}
.item-content .lienb {
  position: absolute;
  top: -40%;
  border-radius: 50%;
}
.item-content .lienb svg {
  width: 100px;
  height: 90px;
  transition: 100ms ease-in-out;
}
.item-content .lienb:hover svg {
  transform: scale(1.1) scaleX(-1);
}
.item-content .lien-4 {
  left: 10%;
  grid-column: 1;
  grid-row: 2;
}
.item-content .lien-3 {
  left: 25%;
  grid-column: 1;
  grid-row: 2;
}
.item-content .lien-2 {
  left: 10%;
  grid-column: 2;
  grid-row: 2;
}
.item-content .lien-Mod1 {
  left: 30%;
  grid-column: 2;
  grid-row: 2;
}
.item-content .lien-1 {
  left: 50%;
  grid-column: 2;
  grid-row: 2;
}

.item:hover {
  background: #919191;
}

.item-content:hover {
  color: #000;
}
.item-content:hover .no1,
.item-content:hover .datelim1,
.item-content:hover .datedeb1,
.item-content:hover .statut1,
.item-content:hover .type1 {
  border: 3px solid #000;
}
.item-content:hover .lien path[d="M12.0001 2.84955C17.0538 2.84955 21.1506 6.94637 21.1506 12.0001C21.1506 17.0537 17.0538 21.1506 12.0001 21.1506C6.94643 21.1506 2.84961 17.0537 2.84961 12.0001C2.84961 6.94637 6.94643 2.84955 12.0001 2.84955Z"],
.item-content:hover .lien path[d="M20.8506 12.0002V6.50992C20.8506 4.48846 19.2118 2.84973 17.1904 2.84973H6.5098C4.48833 2.84973 2.84961 4.48845 2.84961 6.50992V17.4905C2.84961 19.512 4.48833 21.1507 6.5098 21.1507H11.8501"],
.item-content:hover .lien path[d="M12.0001 2.84955C17.0538 2.84955 21.1506 6.94636 21.1506 12C21.1506 17.0537 17.0538 21.1505 12.0001 21.1505C6.94642 21.1505 2.84961 17.0537 2.84961 12C2.84961 6.94636 6.94642 2.84955 12.0001 2.84955Z"],
.item-content:hover .lien path[d="M13.2418 3.62262H12.0001H10.8557M18.4571 3.62262H18.8668V3.62262C20.131 3.62262 21.1557 4.6474 21.1557 5.91153V17.0382C21.1557 19.0608 19.5161 20.7004 17.4935 20.7004H6.50674C4.48413 20.7004 2.84448 19.0608 2.84448 17.0382V5.91153C2.84448 4.6474 3.86926 3.62262 5.13339 3.62262V3.62262H5.54312"],
.item-content:hover .lien path[d="M7.00269 12H10.0018"],
.item-content:hover .lien path[d="M9.01978 12.7782L9.76481 13.5233C10.1763 13.9348 10.8434 13.9348 11.2549 13.5233L14.9801 9.7981"],
.item-content:hover .lien path[d="M7.00269 8.0022H12.9993"] {
  stroke: #090909;
}

.item.muuri-item-dragging,
.item.muuri-item-releasing {
  background: #919191;
  color: #000;
}

.item.active .item-description {
  display: block;
  opacity: 1;
}

.btn {
  position: relative;
  top: 90px;
  left: 130px;
  display: inline-flex;
  padding: 10px 30px;
  background: #979494;
  color: #000;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.btn.active:before {
  width: 1000px;
  height: 1000px;
  z-index: 1;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: rgba(2, 2, 198, 0.6);
  transition: width 0.6s, height 0.6s;
}

.btn:hover:before {
  width: 500px;
  height: 500px;
  z-index: 1;
}

.voire {
  position: relative;
  height: 37px;
  width: 190px;
  background: #000;
  left: 240%;
  bottom: 40px;
  margin: 15px;
  color: #aeacac;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.01em;
  font-weight: 200;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
}

.voire:hover {
  background: var(--clr);
  color: #aeacac;
  border-radius: 10px;
}

.voire:before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #000;
  border-radius: 10px;
}

.voire span {
  position: relative;
  z-index: 1;
  border-radius: 10px;
}

.voire i {
  position: absolute;
  inset: 0;
  display: block;
  border-radius: 10px;
}

.voire i:before {
  content: "";
  position: absolute;
  top: -3.5px;
  left: 80%;
  transform: translate(-50%);
  width: 10px;
  height: 6px;
  background: #000;
  border: 2px solid var(--clr);
  border-radius: 10px;
  transition: 0.5s, box-shadow 0.5s;
  transition-delay: 0.5s 0s;
}

.voire:hover i:before {
  width: 6px;
  left: calc(50% - 3px);
  border-radius: 10px;
  box-shadow: 70px 0 #fff, -70px 0 var(--clr), -70px 0 0 4px #000, 10px -10px var(--clr), -10px -10px #fff;
  transition-delay: 0s, 0.5s;
}

.voire i:after {
  content: "";
  position: absolute;
  bottom: -3.5px;
  left: 20%;
  transform: translate(-50%);
  width: 10px;
  height: 6px;
  background: #000;
  border: 2px solid var(--clr);
  border-radius: 10px;
  transition: 0.5s, box-shadow 0.5s;
  transition-delay: 0.5s 0s;
}

.voire:hover i:after {
  width: 6px;
  left: calc(50% - 3px);
  border-radius: 10px;
  box-shadow: -70px 0 #fff, 70px 0 var(--clr), 70px 0 0 4px #000, -10px 10px var(--clr), 10px 10px #fff;
  transition-delay: 0s, 0.5s;
}

.des {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 15%;
  left: 5%;
  background-color: #000;
  color: #fff;
  height: 1000px;
  width: 1300px;
}
.des .titre {
  position: relative;
  font-size: 2.5em;
  grid-column: 3;
  grid-row: 2;
  text-align: center;
  padding: 5px;
  border-radius: 7px;
  height: 40px;
  width: 400px;
  border: #919191 solid 3px;
}
.des .no {
  position: relative;
  top: 65%;
  grid-column: 2;
  grid-row: 2;
  font-size: 1.7em;
}
.des .no1 {
  position: relative;
  top: 60%;
  left: 30%;
  grid-column: 2;
  grid-row: 2;
}
.des .no1 input {
  width: 160px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #fff;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #919191;
  border-radius: 10px;
  outline: none;
}
.des .datcre {
  position: relative;
  right: 10%;
  top: 65%;
  grid-column: 4;
  grid-row: 2;
  font-size: 1.7em;
}
.des .datcre1 {
  position: relative;
  left: 80%;
  top: 60%;
  grid-column: 4;
  grid-row: 2;
}
.des .datcre1 input {
  width: 220px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #fff;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #919191;
  border-radius: 10px;
  outline: none;
}
.des .type {
  position: relative;
  top: 20%;
  grid-column: 2;
  grid-row: 3;
  font-size: 1.7em;
}
.des .type1 {
  position: relative;
  top: 35%;
  grid-column: 2;
  grid-row: 3;
}
.des .type1 input {
  width: 170px;
  height: 15px;
  font-size: 30px;
  padding: 10px;
  color: #fff;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #919191;
  border-radius: 10px;
  outline: none;
}
.des .sta {
  position: relative;
  top: 20%;
  left: 18%;
  grid-column: 3;
  grid-row: 3;
  font-size: 1.7em;
}
.des .sta1 {
  position: relative;
  top: 35%;
  left: 18%;
  grid-column: 3;
  grid-row: 3;
}
.des .sta1 input {
  width: 170px;
  height: 15px;
  font-size: 30px;
  padding: 10px;
  color: #fff;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #919191;
  border-radius: 10px;
  outline: none;
}
.des .datb {
  position: relative;
  top: 20%;
  left: 88%;
  grid-column: 3;
  grid-row: 3;
  font-size: 1.7em;
}
.des .datb1 {
  position: relative;
  top: 35%;
  left: 88%;
  grid-column: 3;
  grid-row: 3;
}
.des .datb1 input {
  width: 220px;
  height: 15px;
  font-size: 30px;
  padding: 10px;
  color: #fff;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #919191;
  border-radius: 10px;
  outline: none;
}
.des .datl {
  position: relative;
  top: 20%;
  left: 88%;
  grid-column: 4;
  grid-row: 3;
  font-size: 1.7em;
}
.des .datl1 {
  position: relative;
  top: 35%;
  left: 88%;
  grid-column: 4;
  grid-row: 3;
}
.des .datl1 input {
  width: 220px;
  height: 15px;
  font-size: 30px;
  padding: 10px;
  color: #fff;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #919191;
  border-radius: 10px;
  outline: none;
}
.des .datl1 input::-webkit-calendar {
  background-color: rgb(255, 0, 140);
}
.des .descrip {
  position: relative;
  grid-column: 2;
  grid-row: 4;
  font-size: 1.7em;
}
.des .descrip1 {
  position: absolute;
  height: 300px;
  top: 10%;
  grid-column: 2;
  grid-row: 4;
}
.des .descrip1 textarea {
  position: absolute;
  width: 1200px;
  height: 220px;
  font-size: 30px;
  padding: 10px;
  color: #fff;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #919191;
  border-radius: 10px;
  outline: none;
  resize: none;
}
.des .lien-Mod {
  position: absolute;
  top: 80%;
  left: 60%;
  grid-column: 4;
  grid-row: 4;
}
.des .lien-Mod input {
  font-family: "kanit";
  font-size: 1.2em;
  text-decoration: none;
  width: 160px;
  padding: 9px;
  color: #fff;
  background-color: transparent;
  border: 5px solid #14b16d;
  letter-spacing: 0.01em;
  border-radius: 10px;
  transition: 500ms;
}
.des .lien-Mod input:hover {
  color: #000;
  width: 200px;
  text-decoration: underline;
  background-color: #14b16d;
  letter-spacing: 0.1em;
}
.des .lien-Mod1 {
  position: relative;
  top: 3%;
  grid-column: 2;
  grid-row: 2;
}
.des .lien-Mod1 input {
  font-family: "kanit";
  font-size: 1.2em;
  text-decoration: none;
  width: 160px;
  padding: 9px;
  color: #fff;
  background-color: transparent;
  border: 5px solid #14b16d;
  letter-spacing: 0.01em;
  border-radius: 10px;
  transition: 500ms;
}
.des .lien-Mod1 input:hover {
  width: 200px;
  color: #000;
  text-decoration: underline;
  background-color: #14b16d;
  letter-spacing: 0.1em;
}

.tippy-tooltip[data-animation=tada][data-state=hidden] {
  opacity: 0;
  transform: translateY(50px) scaleX(-1);
}

.tippy-tooltip[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(0.93, 0.17, 0.2, 0.54);
}

.tippy-tooltip.tomato-theme {
  background-color: tomato;
  color: yellow;
}

.tippy-tooltip.tomato-theme[data-placement^=top] .tippy-arrow {
  border-top-color: tomato;
}

.tippy-tooltip.voil-theme {
  background-color: rgb(151, 10, 189);
  color: rgb(0, 234, 255);
}

.tippy-tooltip.voil-theme[data-placement^=top] .tippy-arrow {
  border-top-color: rgb(151, 10, 189);
}

.tippy-tooltip.voil1-theme {
  background-color: rgb(196, 6, 79);
  color: rgb(4, 255, 0);
}

.tippy-tooltip.voil1-theme[data-placement^=top] .tippy-arrow {
  border-top-color: rgb(196, 6, 79);
}

.tippy-tooltip.voil2-theme {
  background-color: rgb(6, 174, 196);
  color: rgb(255, 255, 0);
}

.tippy-tooltip.voil2-theme[data-placement^=top] .tippy-arrow {
  border-top-color: rgb(6, 174, 196);
}

.tippy-tooltip.voil3-theme {
  background-color: #1C274C;
  color: rgb(195, 147, 3);
}

.tippy-tooltip.voil3-theme[data-placement^=top] .tippy-arrow {
  border-top-color: #1C274C;
}

.f {
  display: block;
  padding: 2px;
}

.contentedes {
  background: linear-gradient(to top, #b94126, #b48a01);
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  height: 500px;
  width: 1200px;
  padding: 20px;
  text-align: center;
  color: black;
  font-size: 17px;
  font-weight: 500;
}
.contentedes h1 {
  text-align: center;
  text-transform: uppercase;
}
.contentedes form {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.contentedes form .nom {
  position: relative;
  top: 20%;
  left: 10%;
  text-align: start;
  grid-row: 1;
  grid-column: 1;
  font-size: 1.5em;
}
.contentedes form .nom1 {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  top: 45%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.contentedes form .prenom {
  position: relative;
  top: 6%;
  left: 10%;
  text-align: start;
  grid-row: 2;
  grid-column: 1;
  font-size: 1.5em;
}
.contentedes form .prenom1 {
  position: relative;
  grid-row: 2;
  grid-column: 1;
  top: 35%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.contentedes form .date {
  position: relative;
  top: 0%;
  left: 10%;
  text-align: start;
  grid-row: 3;
  grid-column: 1;
  font-size: 1.5em;
}
.contentedes form .date1 {
  position: relative;
  grid-row: 3;
  grid-column: 1;
  top: 25%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.contentedes form .poste {
  position: relative;
  top: 20%;
  left: 70%;
  text-align: start;
  grid-row: 1;
  grid-column: 2;
  font-size: 1.5em;
}
.contentedes form .poste1 {
  position: relative;
  grid-row: 1;
  grid-column: 2;
  top: 45%;
  left: 60%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.contentedes form .Depart {
  position: relative;
  top: 0%;
  left: 70%;
  text-align: start;
  grid-row: 2;
  grid-column: 2;
  font-size: 1.5em;
}
.contentedes form .Depart1 {
  position: relative;
  grid-row: 2;
  grid-column: 2;
  top: 35%;
  left: 60%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.contentedes form .dateD {
  position: relative;
  top: 0%;
  left: 70%;
  text-align: start;
  grid-row: 3;
  grid-column: 2;
  font-size: 1.5em;
}
.contentedes form .dateD1 {
  position: relative;
  grid-row: 3;
  grid-column: 2;
  top: 25%;
  left: 60%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.contentedes form .Dossier {
  position: absolute;
  top: 24%;
  left: 34%;
  font-weight: bold;
  text-align: start;
  font-size: 1.2em;
  text-decoration: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  color: #d3d2d2;
  transition: 0.5s;
  border: #d2d2d2 solid 4px;
}
.contentedes form .Dossier:hover {
  color: #fff;
  border: #000 solid 4px;
  background-color: #000;
}

.retourne {
  display: block;
  position: fixed;
  width: 150px;
  height: 40px;
  left: 70%;
  top: 24px;
  font-size: 17px;
  text-decoration: none;
  border: #8f1f13 solid 3px;
  border-radius: 10px;
  transition: 1.5s all;
  z-index: 20;
}
.retourne b {
  position: relative;
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 1px;
  padding: 10px;
  left: 45px;
  top: 5px;
  transition: 0.3s;
}
.retourne:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 0.2em;
  height: 25px;
  top: 4px;
  left: 12px;
  border-radius: 10px;
  transform: rotate(60deg);
  transition: 0.1s all;
}
.retourne::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 0.2em;
  height: 25px;
  top: 4px;
  left: 31.7px;
  border-radius: 10px;
  transform: rotate(-60deg);
  transition: 0.1s all;
}
.retourne i {
  position: absolute;
  opacity: 0;
  top: 3px;
  left: 30px;
  width: 0.2em;
  height: 30px;
  background-color: #8f1f13;
  border-radius: 10px;
  transform: rotate(90deg);
  transition: 0.5s ease-in-out;
}
.retourne:hover {
  width: 160px;
  height: 40px;
  border-radius: 10px;
  border: #fff solid 3px;
}
.retourne:hover b {
  left: 55px;
  letter-spacing: 2px;
  color: #8f1f13;
}
.retourne:hover i {
  opacity: 1;
}
.retourne:hover:before {
  top: 15px;
  left: 10px;
  transform: rotate(140deg);
  height: 20px;
  border-radius: 10px;
  transition: 1s;
  animation: ani 1.2s ease-in-out infinite;
}
.retourne:hover:after {
  top: 1px;
  left: 12px;
  transform: rotate(45.2deg);
  height: 20px;
  border-radius: 10px;
  transition: 1s;
  animation: ani 1.2s ease-in-out infinite;
}

@keyframes ani {
  0% {
    background-color: #8f1f13;
    left: 15px;
  }
  100% {
    background-color: #fff;
    left: 10px;
  }
}
.popup {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 17px;
  font-weight: 500;
  background-color: #050505;
  border-radius: 30px;
  z-index: 1;
}
.popup .f1 {
  position: absolute;
  top: 1%;
  right: 10%;
  z-index: 10;
}
.popup .f1 svg {
  transform: none;
  transition: 1s;
}
.popup .f1 svg path {
  fill: #e22a0e;
}
.popup .f1 svg:hover {
  transform: rotate(90deg);
}
.popup .valid {
  position: absolute;
  top: 85%;
  left: 70%;
  grid-column: 2;
  grid-row: 5;
  height: 30px;
  width: 200px;
  display: inline-block;
  color: #2f1834;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #12f35d;
  background: #22e646;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  transition: all 0.1s;
  box-shadow: 0px 6px 0px #07862d;
}
.popup .valid:active {
  box-shadow: 0px 2px 0px #07862d;
}

.form1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
}
.form1 .Nom {
  position: relative;
  top: 10%;
  left: 10%;
  text-align: start;
  grid-row: 1;
  grid-column: 1;
  font-size: 1.5em;
}
.form1 .Nom1 {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  top: 40%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.form1 .mot {
  position: relative;
  top: 10%;
  right: 15%;
  grid-row: 2;
  grid-column: 1;
  font-size: 1.5em;
}
.form1 .mot1 {
  position: relative;
  grid-row: 2;
  grid-column: 1;
  top: 40%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.form1 .generer {
  position: absolute;
  top: 48%;
  left: 50%;
  font-weight: bold;
  text-align: start;
  font-size: 1.8em;
  text-decoration: none;
  background-color: #07862d;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  color: #000;
  transition: 0.5s;
  border: #07862d solid 4px;
}
.form1 .generer:hover {
  color: aliceblue;
  border: #07862d solid 4px;
  background-color: transparent;
}

.form3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.form3 .Nom {
  position: relative;
  top: 50%;
  left: 10%;
  text-align: start;
  grid-row: 1;
  grid-column: 1;
  font-size: 1.5em;
}
.form3 .Nom1 {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  top: 130%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.form3 .Prenom {
  position: relative;
  top: 150%;
  grid-row: 2;
  grid-column: 1;
  font-size: 1.5em;
  text-align: start;
  left: 10%;
}
.form3 .Prenom1 {
  position: relative;
  grid-row: 2;
  grid-column: 1;
  top: 230%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.form3 .Histo {
  position: absolute;
  top: 39%;
  left: 37%;
  font-weight: bold;
  text-align: start;
  font-size: 1.2em;
  text-decoration: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  color: #07862d;
  transition: 0.5s;
  border: #07862d solid 4px;
}
.form3 .Histo:hover {
  color: aliceblue;
  border: #07862d solid 4px;
  background-color: #07862d;
}
.form3 .Departement {
  position: relative;
  top: 50%;
  left: 40%;
  text-align: start;
  grid-row: 1;
  grid-column: 2;
  font-size: 1.5em;
}
.form3 .Departement1 {
  position: relative;
  grid-row: 1;
  grid-column: 2;
  top: 180%;
  left: 30%;
  width: 300px;
  height: 16px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.form3 .Ndepart {
  position: relative;
  top: 150%;
  grid-row: 3;
  grid-column: 2;
  font-size: 1.5em;
  text-align: start;
  left: 40%;
}
.form3 .Ndepart1 {
  position: relative;
  grid-row: 3;
  grid-column: 2;
  top: 280%;
  left: 30%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}

.form4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.form4 .Nom {
  position: relative;
  top: 300%;
  left: 10%;
  text-align: start;
  grid-row: 4;
  grid-column: 2;
  font-size: 1.5em;
}
.form4 .Nom1 {
  position: relative;
  grid-row: 4;
  grid-column: 2;
  top: 380%;
  left: 0%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.form4 .Prenom {
  position: relative;
  top: 400%;
  grid-row: 5;
  grid-column: 2;
  font-size: 1.5em;
  text-align: start;
  left: 10%;
}
.form4 .Prenom1 {
  position: relative;
  grid-row: 4;
  grid-column: 2;
  top: 570%;
  left: 0%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.form4 .com {
  position: relative;
  top: 30%;
  grid-row: 1;
  grid-column: 2;
  font-size: 1.5em;
  text-align: start;
  left: 10%;
}
.form4 .com1 {
  position: absolute;
  top: 15%;
  left: 50%;
  max-width: 400px;
  max-height: 150px;
  min-width: 400px;
  min-height: 150px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.form4 .Dossier {
  position: absolute;
  top: 60%;
  left: 84%;
  font-weight: bold;
  text-align: start;
  font-size: 1.2em;
  text-decoration: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  color: #fff;
  transition: 0.5s;
  border: #fff solid 4px;
}
.form4 .Dossier:hover {
  color: #fff;
  border: #000 solid 4px;
  background-color: #000;
}
.form4 .Histo {
  position: absolute;
  top: 50%;
  left: 84%;
  font-weight: bold;
  text-align: start;
  font-size: 1.2em;
  text-decoration: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  color: #07862d;
  transition: 0.5s;
  border: #07862d solid 4px;
}
.form4 .Histo:hover {
  color: aliceblue;
  border: #07862d solid 4px;
  background-color: #07862d;
}
.form4 .Departement {
  position: relative;
  top: 50%;
  left: 10%;
  text-align: start;
  grid-row: 1;
  grid-column: 1;
  font-size: 1.5em;
}
.form4 .Departement1 {
  position: absolute;
  top: 17%;
  width: 320px;
  height: 50px;
  font-size: 22px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.form4 .Ndepart {
  position: relative;
  top: 200%;
  grid-row: 2;
  grid-column: 1;
  font-size: 1.5em;
  text-align: start;
  left: 10%;
}
.form4 .Ndepart1 {
  position: relative;
  grid-row: 2;
  grid-column: 1;
  top: 290%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.form4 .dateDebut {
  position: relative;
  top: 200%;
  grid-row: 4;
  grid-column: 1;
  font-size: 1.5em;
  text-align: start;
  left: 10%;
}
.form4 .dateDebut1 {
  position: relative;
  grid-row: 4;
  grid-column: 1;
  top: 290%;
  left: 0%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.form4 .dateLimite {
  position: relative;
  top: 300%;
  grid-row: 5;
  grid-column: 1;
  font-size: 1.5em;
  text-align: start;
  left: 10%;
}
.form4 .dateLimite1 {
  position: relative;
  grid-row: 5;
  grid-column: 1;
  top: 390%;
  left: 0%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}

.form2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.form2 .Nom {
  position: relative;
  top: 50%;
  left: 10%;
  text-align: start;
  grid-row: 1;
  grid-column: 1;
  font-size: 1.5em;
}
.form2 .Nom1 {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  top: 180%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.form2 .Prenom {
  position: relative;
  top: 150%;
  grid-row: 3;
  grid-column: 1;
  font-size: 1.5em;
  text-align: start;
  left: 10%;
}
.form2 .Prenom1 {
  position: relative;
  grid-row: 3;
  grid-column: 1;
  top: 280%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.form2 .dateDebut {
  position: relative;
  top: 50%;
  left: 40%;
  text-align: start;
  grid-row: 1;
  grid-column: 2;
  font-size: 1.5em;
}
.form2 .dateDebut1 {
  position: relative;
  grid-row: 1;
  grid-column: 2;
  top: 180%;
  left: 30%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.form2 .dateLimite {
  position: relative;
  top: 150%;
  grid-row: 3;
  grid-column: 2;
  font-size: 1.5em;
  text-align: start;
  left: 40%;
}
.form2 .dateLimite1 {
  position: relative;
  grid-row: 3;
  grid-column: 2;
  top: 280%;
  left: 30%;
  width: 300px;
  height: 13px;
  font-size: 30px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}
.form2 .Histo {
  position: absolute;
  top: 57%;
  left: 37%;
  font-weight: bold;
  text-align: start;
  font-size: 1.2em;
  text-decoration: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  color: #07862d;
  transition: 0.5s;
  border: #07862d solid 4px;
}
.form2 .Histo:hover {
  color: aliceblue;
  border: #07862d solid 4px;
  background-color: #07862d;
}
.form2 .type {
  position: relative;
  top: 300%;
  left: 10%;
  display: inline-block;
  width: 100px;
  text-align: start;
  grid-row: 4;
  grid-column: 1;
  font-size: 1.5em;
}
.form2 .type1 {
  position: relative;
  grid-row: 4;
  grid-column: 1;
  top: 380%;
  width: 300px;
  height: 50px;
  font-size: 22px;
  padding: 10px;
  color: #aeacac;
  font-family: "kanit";
  background-color: #000;
  border: 3px solid #e7dede;
  border-radius: 10px;
}

.active {
  top: 60%;
  z-index: 20;
}/*# sourceMappingURL=traitement.css.map */